*{
    margin: 0;
    padding: 0;
    border: none;
}

/* header area */

header {
    height: 100vh;
    background-image: url('../images/logan-meis-7qLT-Msda1k-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #eaebed;
}

#company-name {
    color:aliceblue;
    font-size: 300%;
    float: left;
    margin: 30px 0 0 30px;
}

#menu {
    color: aliceblue;
    font-size: 150%;
    display: flex;
    float: right;
}

#menu li{
    list-style-type: none;
    margin: 30px 30px 0 0;
}

#menu, logo{
    line-height: 75px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #98dad9;
    color:#98dad9
}

.active{
    border-bottom: 1px solid #98dad9;
}

/* Add strobe effect to 24 hour service */
#all-day-service {
    color: rgb(0, 238, 255);
    font-size: 5rem;
    text-align: center;
    position: relative;
    top: 60%;
}

#all-day-service::before {
    position: absolute;
    content: attr(data-text);
    text-shadow: 0px 0px 20px rgb(0, 238, 255);
    filter: blur(10px) brightness(0);
    animation: flicker 2s linear forwards;
    animation-delay: 1s;
}

@keyframes flicker {
    0% {
        filter: blur(5px) brightness(1);
    }
    3% {
        filter: blur(5px) brightness(0);
    }
    6% {
        filter: blur(5px) brightness(0);
    }
    7% {
        filter: blur(5px) brightness(1);
    }
    8% {
        filter: blur(5px) brightness(0);
    }
    9% {
        filter: blur(5px) brightness(1);
    }
    10% {
        filter: blur(5px) brightness(0);
    }
    20% {
        filter: blur(5px) brightness(1);
    }
    50% {
        filter: blur(5px) brightness(1);
    }
    750% {
        filter: blur(5px) brightness(0);
    }
    100% {
        filter: blur(5px) brightness(1);
    }
}

/* Find us section with map and details */
#details {
    background-color: #eaebed;
    height: 600px;
}

#map {
    float: right;
}

th {
    text-align: right;
}

